* {
  font-family: 'Chela One', cursive;
}
body {
  margin: 0;
}
#map {
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.container-fluid{
  position: fixed;
  z-index: 99;
  margin: 0;
  padding: 0;
  background-color: #ffc01f; 
  border: 2px solid;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  color: white;
}

 #current-score-board-team {
   display: flex;
   justify-content: center;
   font-size: 2em;
   margin: 5px 0 5px 0;
 }
 .questions-board {
   font-size: 20px;
   margin-right: 10px;
 }

.timer {
  font-size: 3em;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.d-flex {
  width: 375px;
  background-color: white;
}

#questions-box {
  margin-top: -230px;
  z-index: 3;
  align-items: center;
  text-align: center;
  width: 375px;
}

#counter {
  display: flex;
  justify-content: center;
}

#start-game-timer {
  font-size: 80px;
}

/* MODAL LOG IN STYLING */

.modal-dialog .modal-content {
  text-align: center;
  background-color: #ffc01f; 
  border: 2px solid;
  border-radius: .8em;
  color: white;
}

.modal-dialog .modal-header {
  justify-content: center;
  border-bottom: 2px solid #ffc01f;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-body h2 {
  font-size: 50px;
}

.modal-body h3 {
  font-size: 1.25rem;
}

.modal-body input{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid;
  border-radius: .8em;
  background: #ffdc40;
  text-align: center;
}

.modal-body button {
  background: #ffdc40;
  border: 2px solid;
  border-radius: 0.8em;
}

.close {
  display: none;
}
.question-modal {
  position: fixed;
  top: 1;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  outline: 0;
}

#your-question {
  display: none;
}