#map {
    height: 100vh;
    width: 100%;
    z-index: 1;
  }
.container {
    background-color: white;
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
}
 #current-score-board-teams {
   display: flex;
   justify-content: space-between;
 }
 #current-score-board-teams p {
    margin: 5px 0 5px 0;
  }
.row {
  display: flex;
  width: 100%;
}
.question {
  background-color: white;
}
.timer {
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background: white;
  }
.d-flex {
  width: 375px;
  background-color: white;
}
#questions-box {
  margin-top: -230px;
  z-index: 3;
  align-items: center;
  text-align: center;
  width: 375px;
}

#counter {
  display: flex;
  justify-content: center;
}

#start-game-timer {
  font-size: 80px;
}
