#map {
    height: 100vh;
    width: 100%;
  }
 #current-score-board-teams {
   display: flex;
   justify-content: space-between;
 }

 #current-score-board-teams p {
    margin: 5px 0 5px 0;
  }
.row {
  width: 375px;
}
.question {
  background-color: white;
}
.timer {
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background: white;
    border-top: 1px solid black;
  }
.test-map-pic {
    display: flex;
    z-index: 1;
}
#test-map {
    height: 560px;
    width: 100vh;
    overflow: hidden;
}
.d-flex {
  margin: 10px;
  width: 375px;
  background-color: white;
}
#questions-box {
  margin-top: -230px;
  z-index: 3;
  align-items: center;
  text-align: center;
  width: 375px;
}
