.item { 
    font-size: 15px;
    letter-spacing: 1.5px;
}
#background {
    background: url(../pictures/cityPicture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.col-xs-4 label {
    color: white;
    text-shadow: 2px 2px darkgrey;
    font-size: 16px;
}
.text-center {
    color: white;
    text-shadow: 2px 2px darkgrey;
    font-size: 50px;
    margin-top: 50px;
}

.faux-table {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.go-back {
    display: flex;
    justify-content: center;
    margin-top: 360px; 
    z-index: 999;
}
#go-back-button {
    background-color: white;
    margin: 0;
    padding: 5px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #ffc01f;
}
.fas {
    color: #ffc01f;
    outline: none;
}
#matches {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
