* {
    font-family: 'Chela One', cursive;
    text-shadow: 2px 2px #EE9E22;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.container h1 {
    font-size: 70px;
}
.col-md-4 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    border-radius: .5em;
}

#background {
    background: url(../pictures/cityPicture1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
a:link, a:visited {
    background-color: #ffc01f;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid white;

}
a:hover, a:active {
    text-decoration: none !important;
    color: white !important;
    background-color: #ffc01f;
}

#logout {
    background-color: #FD4343;
    border: 1px solid #C03333;
    text-shadow: 2px 2px #C03333;
}

.dev-footer {
    margin: -80px 0 0 0;
    height: 80px;
    text-align: center;
    padding: 10px 0 0 0px;
    width: 100%;
}
.dev-footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px darkgrey;
}


@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi)  {
    #play {
        display: none;
    }
}

@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    #play {
        display: none;
    }
}
